{% extends 'base.html.twig' %}

{% block title %}Demande de réinitialisation de mot de passe{% endblock %}

{% block body %}
<section id="resetPassword">
    <h2>
        Demande de réinitialisation de mot de passe
    </h2>
    {{ form_start(requestPassForm) }}
        {{ form_row(requestPassForm.email) }}
        <button type="submit" class="btn btn-primary">Envoyer</button>
    {{ form_end(requestPassForm)}}
</section>
{% endblock %}
