{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
<section id="resetPassword">
    <h2>
        Réinitialisation de mot de passe
    </h2>
    {{ form_start(passForm) }}
         {{ form_row(passForm.plainPassword) }}
            <ul id="resetValidationList">
                <li id="resetLength" class="invalid">Au moins 12 caractères</li>
                <li id="resetUppercase" class="invalid">Au moins une majuscule</li>
                <li id="resetLowercase" class="invalid">Au moins une minuscule</li>
                <li id="resetNumber" class="invalid">Au moins un chiffre</li>
                <li id="resetSpecialChar" class="invalid">Au moins un caractère spécial</li>
                <li id="resetMatch" class="invalid">Les mots de passe doivent être identiques</li>
            </ul>
        <button type="submit" class="btn btn-primary" id="resetPasswordButton" disabled>Envoyer</button>
    {{ form_end(passForm)}}
</section>
{% endblock %}
