{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
<section id="resetPassword">
    <h2>
        Réinitialisation de mot de passe
    </h2>
    {{ form_start(passForm) }}
    {{ form_row(passForm.plainPassword) }}
    <input type="checkbox" id="registration_form_agreeTerms" hidden checked>
    <div class="text-center">
        <button type="submit" id="registration" class="btn btn-primary">Valider mon mot de passe</button>
    </div>
    {{ form_row(passForm.captcha) }}
    {{ form_end(passForm)}}
</section>
{% endblock %}