{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
<h1>Mentions Légales</h1>

<p>Conformément à la loi française, voici les informations légales de notre site :</p>

<h2>Éditeur du site</h2>
<p>Nom / Société : MeetRun<br>
Email : contact@meetrun.fr</p>

<h2>Hébergement</h2>
<p>Site hébergé par : <br>

<h2>Propriété intellectuelle</h2>
<p>Le contenu du site (textes, images, logos) est protégé par le droit d’auteur et ne peut être utilisé sans autorisation.</p>
{% endblock %}
