<h1>Bonjour {{ user.firstName }} {{ user.lastName }}</h1>

<p>
    Pour votre demande de réinitialisation de mot de passe, veuillez cliquer sur le lien ci-dessous<br><br>
    <a href="{{ url|raw }}">{{ url|raw }}</a>.
</p>

<p>
    À bientôt !
</p>