
{% for event in events %}
<div class="event-card">
    <h3>{{ event.name }}</h3>
    <p> {{ event.dateEvent|format_date(pattern="EEE d MMMM y", locale="fr")|capitalize }}
 </p>
    <p> {{event.city}} ({{event.postalCode | slice(0,2) }})</p>
</div>
{% endfor %}