{% extends 'base.html.twig' %}

{% block title %}Courses{% endblock %}

{% block body %}

<div class="events-wrapper">
    <div class="search-runners-container">
        <div class="grid js-filter-content">
            {% include "events/_events.html.twig" %}
        </div>
        <div class="js-filter-pagination">
            {% if events %}
            {% include "events/_pagination.html.twig"%}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}