{% extends 'base.html.twig' %}

{% block title %}Courses{% endblock %}

{% block body %}

<div class="events-wrapper">
    <div class="search__events">

    </div>
    <div class="next__events">
        <h2>Les courses à venir</h2>
    </div>
</div>
{% endblock %}
